{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=floodrisk" class="breadcrumb">{% trans "Flood Risk" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card card-dashboard">
                <div class="card-header red darken-2 white-text">
                    <span class="card-title">
                        {% trans "Map" %}
                    </span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 l3 xl2">
                            <div id="layercontrol">
                                <div class="input-field">
                                    <select id="friskOpt">
                                        <option value="total_risk_population">Population at Flood Risk</option>
                                        <option value="total_risk_buildings">Building at Flood Risk</option>
                                        <option value="total_risk_area">Area at Flood Risk</option>
                                        <option value="settlements_at_risk">Settlements at Flood Risk</option>
                                    </select>
                                    <label for="friskOpt">Choose Layer :</label>
                                </div>

                                <div class="input-field">
                                    <span>WMS Layer</span>
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" data-type=wms data-layer=frisk checked>
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>

                                <!-- <label for="WMSLayer">WMS Layer :</label>
                                <div id="WMSLayer" class="checkbox checkbox-red">
                                    <label><input type="checkbox" data-type=wms data-layer=frisk checked>Flood Risk</label>
                                </div> -->

                                <label for="slideRange">Range :</label>
                                <div id="slideRange">
                                    <div id="keypress"></div>
                                    <br>
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <input type="text" id="input-with-keypress-0" class="">
                                        </div>
                                        <div class="input-field col s12 l6">
                                            <input type="text" id="input-with-keypress-1" class="">
                                        </div>
                                    </div>
                                </div>

                                <label for="themes">Pick a theme :</label>
                                <div id="themes">
                                    <button class="theme active" data-btn="YlOrRd"></button>
                                    <button class="theme" data-btn="PuRd"></button>
                                    <button class="theme" data-btn="GnBu"></button>
                                    <button class="theme" data-btn="Blues"></button>
                                    <button class="theme" data-btn="BuGn"></button>
                                    <button class="theme" data-btn="BuPu"></button>
                                    <button class="theme" data-btn="Greens"></button>
                                    <button class="theme" data-btn="Greys"></button>
                                    <button class="theme" data-btn="Oranges"></button>
                                    <button class="theme" data-btn="OrRd"></button>
                                    <button class="theme" data-btn="PuBu"></button>
                                    <button class="theme" data-btn="PuBuGn"></button>
                                    <button class="theme" data-btn="Purples"></button>
                                    <button class="theme" data-btn="RdPu"></button>
                                    <button class="theme" data-btn="Reds"></button>
                                    <button class="theme" data-btn="YlGn"></button>
                                    <button class="theme" data-btn="YlGnBu"></button>
                                    <button class="theme" data-btn="YlOrBr"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l9 xl6">
                            <div id="leaflet_floodrisk_map" class="map-size"></div>
                        </div>
                        <div class="col s12 l12 xl4">
                            <div id="mapInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Flood Risk Population" %}</span>
                    <!-- <i class="icon-people_affected_population left"></i> -->
                    <!-- <span class="card-title right">{% readable panels.charts.pop_depth.total_atrisk %}</span> -->
                </div>
                <div class="card-image">
                    <div id="chart_pie_frisk_pop" class="ch-size donut-chart" data-color=colorFloodRisk data-val='{{ panels.charts.pop_depth.child | jsonify | safe }}'></div>
                    <div class="center-align grey-text text-darken-2 affected-count">
                        <span class="red-text text-darken-3">{% readable panels.charts.pop_depth.total_atrisk %}</span>
                        of
                        <span class="red-text text-darken-3">{% readable panels.charts.pop_depth.total %}</span>
                        at risk
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Flood Risk Building" %}</span>
                    <!-- <i class="icon-infrastructure_building left"></i> -->
                    <!-- <span class="card-title right">{% readable panels.charts.building_depth.total_atrisk %}</span> -->
                </div>
                <div class="card-image">
                    <div id="chart_pie_frisk_build" class="ch-size donut-chart" data-color=colorFloodRisk data-val='{{ panels.charts.building_depth.child | jsonify | safe }}'></div>
                    <div class="center-align grey-text text-darken-2 affected-count">
                        <span class="red-text text-darken-3">{% readable panels.charts.building_depth.total_atrisk %}</span>
                        of
                        <span class="red-text text-darken-3">{% readable panels.charts.building_depth.total %}</span>
                        at risk
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 offset-m3 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Flood Risk Area" %}</span>
                    <!-- <i class="fa fa-tree left"></i> -->
                    <!-- <span class="card-title right">{% readable panels.charts.area_depth.total_atrisk %}</span> -->
                </div>
                <div class="card-image">
                    <div id="chart_pie_frisk_area" class="ch-size donut-chart" data-color=colorFloodRisk data-val='{{ panels.charts.area_depth.child | jsonify | safe }}'></div>
                    <div class="center-align grey-text text-darken-2 affected-count">
                        <span class="red-text text-darken-3">{% readable panels.charts.area_depth.total_atrisk %}</span>
                        of
                        <span class="red-text text-darken-3">{% readable panels.charts.area_depth.total %}</span>
                        at risk
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card card-dashboard">
                <div class="card-header red darken-2 white-text">
                    <span class="card-title">
                        {% trans "Population Living in Flood Risk Areas" %}
                    </span>
                </div>
                <div class="card-content">
                    <p>{% trans "Population, buildings and area within 100-year inundation flood zone (source: NATO Flood Map). Flood risk category is estimated based upon potential flood depth: Low flood risk relates to inundation more than 29cm, moderate to 1.21m and high flood risk more than 2.7m. The 100-year inundation interval, implies that every year there is a 1% chance of such a flood event occurring. Most flood events will be in 5,10, 20-year inundation interval." %}</p>
                    <div class="table-responsive-scroll">
                        <table class="highlight online">
                            <thead>
                                <tr>
                                    <th rowspan="2">{% trans "Region" %}</th>
                                    <th rowspan="2" class="hum">{% trans "Building" %}</th>
                                    <th rowspan="2" class="hum">{% trans "Settlement" %}</th>
                                    <th colspan="2">{% trans "Built-Up" %}</th>
                                    <th colspan="2">{% trans "Cultivated" %}</th>
                                    <th colspan="2">{% trans "Barren/Rangeland" %}</th>
                                    <th colspan="2">{% trans "Total" %}</th>
                                </tr>
                                <tr>
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <!-- <th class="hum">Building</th> -->
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <!-- <th class="hum">Building</th> -->
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <!-- <th class="hum">Building</th> -->
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <!-- <th class="hum">Building</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in panels.tables.adm_lcgroup_pop_area.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in panels.tables.adm_lcgroup_pop_area.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=floodrisk&code={{child.code}}';">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        var centroid = boundary['centroid'];
        var chosen_label = '{{parent_label}}';
        var map_category = ['{% trans "Population at Risk" %}', '{% trans "Settlement at Risk" %}', '{% trans "Building at Risk" %}', '{% trans "Area at Risk" %}'];
        var frisk_cat = panels.charts.pop_depth.labels;

    </script>
{% endblock %}
