{% load i18n %}
{% load app_filters %}
<div class="col s12 m6">
    <div class="card card grey lighten-4 z-depth-0">
        <div class="card-tabs" style="margin-bottom: 15px;">
            <ul id="tabs_swipe_action_detail" class="tabs red darken-3">
                <li class="tab col s4 release_lock"><a href="#gfms_glofas" class="white-text tab_toggle {% if "GLOFAS + GFMS" in checked or "GLOFAS + GFMS" not in checked and "GLOFAS" not in checked and "GFMS" not in checked %} active {% endif %}">{% trans "GLOFAS + GFMS" %}</a></li>
                <li class='tab col s4 release_lock'><a href="#glofas" class="white-text tab_toggle {% if "GLOFAS" in checked %} active {% endif %} release_lock">{% trans "GLOFAS" %}</a></li>
                <li class='tab col s4 release_lock'><a href="#gfms" class="white-text tab_toggle {% if "GFMS" in checked %} active {% endif %} release_lock">{% trans "GFMS" %}</a></li>
            </ul>
        </div>
        <div class="row">
            {% for riverflood_method, riverflood_val in panels.riverflood.items %}
                <div id="{{ riverflood_method }}" class="">
                    <div class="col s12">
                        <div class="card card-dashboard">
                            <div class="card-header red darken-2 white-text">
                                <span class="card-title">
                                    {{ riverflood_val.tables.riverflood_likelihood.title }} <small>{{ riverflood_val.key }}</small>
                                </span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {% if riverflood_method == 'gfms_glofas' %}
                                        {% trans 'The prediction based on the combination of Global Flood Awareness Sytem (GLOFAS) and Global Flood Monitoring Sytem (GFMS). River Flood is updated every 6 hours and valid for the next 4 days (GFMS) and 20 days (GLOFAS). GLOFAS supersedes GFMS. Data is only partly calibrated and smaller mountainous tributaries not included.' %}
                                    {% elif riverflood_method == 'glofas' %}
                                        {% trans 'The prediction based solely on Global Flood Awareness Sytem (GLOFAS). River Flood is updated every 6 hours and valid for the next 20 days. Data is only partly calibrated and smaller mountainous tributaries not included.' %}
                                    {% elif riverflood_method == 'gfms' %}
                                        {% trans 'The prediction based solely on Global Flood Monitoring Sytem (GFMS). River Flood is updated every 6 hours and valid for the next 4 days. Data is only partly calibrated and smaller mountainous tributaries not included.' %}
                                    {% endif %}
                                </p>
                                <br/>
                                <div class="table-responsive-scroll">
                                    <table id="" class="flood-likelihood-color">
                                        <thead>
                                            <tr>
                                                <th colspan="3">{% trans "Likelihood" %}</th>
                                                <th colspan="3">{% trans 'Flood Risk' %}</th>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'Level' %}</th>
                                                <th title="{% trans 'Population' %}">{% trans 'Population' %}</th>
                                                <th title="{% trans 'Buildings' %}">{% trans 'Buildings' %}</th>
                                                <th>{% trans 'Level' %}</th>
                                                <th title="{% trans 'Population' %}">{% trans 'Population' %}</i></th>
                                                <th title="{% trans 'Buildings' %}">{% trans 'Buildings' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for table_floodlikelihood in riverflood_val.tables.riverflood_likelihood.child %}
                                                <tr>
                                                    <td class="" rowspan="3">{{ table_floodlikelihood.title }}</td>
                                                    <td rowspan="3">{{ table_floodlikelihood.pop }}</td>
                                                    <td rowspan="3" class="">{{ table_floodlikelihood.building }}</td>
                                                    <td class="hi">{{ table_floodlikelihood.depth_child.0.title }}</td>
                                                    <td class="hi_fill">{{ table_floodlikelihood.depth_child.0.pop }}</td>
                                                    <td class="hi_fill">{{ table_floodlikelihood.depth_child.0.building }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="med">{{ table_floodlikelihood.depth_child.1.title }}</td>
                                                    <td class="med_fill">{{ table_floodlikelihood.depth_child.1.pop }}</td>
                                                    <td class="med_fill">{{ table_floodlikelihood.depth_child.1.building }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="lo">{{ table_floodlikelihood.depth_child.2.title }}</td>
                                                    <td class="lo_fill">{{ table_floodlikelihood.depth_child.2.pop }}</td>
                                                    <td class="lo_fill">{{ table_floodlikelihood.depth_child.2.building }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col offset-l6"></div>

{% for flood_type, flood_val in panels.tables.items %}
    <div class="col s12 l6">
        <div class="card card-dashboard">
            <div class="card-header red darken-2 white-text">
                <span class="card-title">
                    {{ flood_val.title }}
                </span>
            </div>
            <div class="card-content">
                <p>{% trans 'Flash Flood Prediction is updated every hour and valid for the next 6 hours. This data is not calibrated and can only be used for rudimentary flood likelihood prediction.' %}</p>
                <br/>
                <div class="table-responsive-scroll">
                    <table id="ffforecast" class="flood-likelihood-color">
                        <thead>
                            <tr>
                                <th colspan="3">{% trans "Likelihood" %}</th>
                                <th colspan="3">{% trans 'Flood Risk' %}</th>
                            </tr>
                            <tr>
                                <th>{% trans 'Level' %}</th>
                                <th title="{% trans 'Population' %}">{% trans 'Population' %}</th>
                                <th title="{% trans 'Buildings' %}">{% trans 'Buildings' %}</th>
                                <th>{% trans 'Level' %}</th>
                                <th title="{% trans 'Population' %}">{% trans 'Population' %}</th>
                                <th title="{% trans 'Buildings' %}">{% trans 'Buildings' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for table_flashflood in flood_val.child %}
                                <tr>
                                    <td class="" rowspan="3">{{ table_flashflood.title }}</td>
                                    <td rowspan="3">{{ table_flashflood.pop }}</td>
                                    <td rowspan="3" class="">{{ table_flashflood.building }}</td>
                                    <td class="hi">{{ table_flashflood.depth_child.0.title }}</td>
                                    <td class="hi_fill">{{ table_flashflood.depth_child.0.pop }}</td>
                                    <td class="hi_fill">{{ table_flashflood.depth_child.0.building }}</td>
                                </tr>
                                <tr>
                                    <td class="med">{{ table_flashflood.depth_child.1.title }}</td>
                                    <td class="med_fill">{{ table_flashflood.depth_child.1.pop }}</td>
                                    <td class="med_fill">{{ table_flashflood.depth_child.1.building }}</td>
                                </tr>
                                <tr>
                                    <td class="lo">{{ table_flashflood.depth_child.2.title }}</td>
                                    <td class="lo_fill">{{ table_flashflood.depth_child.2.pop }}</td>
                                    <td class="lo_fill">{{ table_flashflood.depth_child.2.building }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
