{% with charts=data.panels.floodrisk.charts color="colorFloodRisk" grid="s12 m6 xl4" word_ref="at risk" %}
    {% include "dash_chart_donut.html" with offset="offset-l3 offset-xl2" title=charts.pop_depth.title icon="" key="pop_depth" values=charts.pop_depth.child total_atrisk=charts.pop_depth.total_atrisk total=charts.pop_depth.total %}
    {% include "dash_chart_donut.html" with offset="" title=charts.area_depth.title icon="" key="area_depth" values=charts.area_depth.child total_atrisk=charts.area_depth.total_atrisk total=charts.area_depth.total %}
{% endwith %}
{% include "dash_qoview_flood_forecast.html" with panels=data.panels.floodforecast %}
